.topo_geral{
	height: 171px;
	/*
	opacity:0.50;
        -moz-opacity: 0.50;
        filter: alpha(opacity=50);*/
}

.cabecalho{
	position:relative;
	float:left;
	display:inline;
	font-family:"Franklin Gothic Heavy";
	font-size:12px;
	color:#6d6d6d;
	background-color:#000;
	height:30px;
	width: 100%;
	padding-left: 23%;
		
}
.cabecalho_inferior{
	position:relative;
	float:left;
	display:inline;
	/*background-color:#131315;*/
	
}
.logo{
	position:relative;
	float:left;
	display:inline;
	top:20px;
	z-index:10;
	/*margin-left:380px;*/
}

.animacao{
	position:relative;
	float:left;
	/*background:#131315;*/
	
}
#image{
	position:relative;
	float:left;
	z-index:0;
	margin-top:-60px;
}


.bolas{
	position:relative;
	float: right;
	top:320px;
	right: 85px;
	/*margin-top:330px;
	top:-220px;
	left:-425px;
	z-index:1px;
	width:300px;*/
}
.fundo1{
	background-color:#131315;
	background-image: url(/media/images/home/fundo_banner_inter.png);
	background-repeat: no-repeat;
	/*background-position: center center;*/
	background-position: center 119.5px;
}
.fundo2{
	background-color:#131315;
	background-image: url(/media/images/home/fundo_banner_inter2.png);
	background-repeat: no-repeat;
	/*background-position: center center;*/
	background-position: center 119.5px;
}
.fundo3{
	background-color:#131315;
	background-image: url(/media/images/home/fundo_banner_inter3.png);
	background-repeat: no-repeat;
	/*background-position: center center;*/
	background-position: center 119.5px;
}


/*CABECALHO PAGINAS*/
/*
.topo{
	position:relative;
	float:left;
	height:45px;
	background-color:#131315;
}
.sombra_topo{
	position:relative;
	float:left;
	height:480px;
	width:640px;
	z-index:0;
	top: -180px;	
}

.corte{
	position:relative;
	float:left;	
	z-index:2;
	top:-118px;
}*/

.barra_endereco{
	top:40px;
	position: relative;
	float:left;
	left: -180px;
	width: 1200px;
}
.home{
	position: relative;
	float:left;
	margin-left: 190px;
	margin-top: -10px;
	
}

.endereco{
	position: relative;
	float:left;
	font-family:"Franklin Gothic Heavy";
	color:#131315;
	margin-left: 10px;
	margin-top: -10px;
	font-variant:small-caps;	
}
