.cabecalho{
	position:relative;
	float:left;
	display:inline;
	width:70%;
	font-family:"Franklin Gothic Heavy";
	font-size:12px;
	color:#6d6d6d;
	background-color:#000;
	height:30px;
	padding-left:30%;
	
}
.cabecalho_inferior{
	position:relative;
	float:left;
	display:inline;
	background-color:#131315;
	width:100%;
	
}
.logo{
	position:relative;
	float:left;
	display:inline;
	top:20px;
	z-index:10;
	margin-left:380px;
}

.animacao{
	position:relative;
	float:left;
	height:370px;
	background-color:#131315;
}
#image{
	position:relative;
	float:left;
	height:480px;
	width:640px;
	z-index:0;
	
	margin-top:-65px;
}

.barra_animacao_superior	{
	position:relative;
	float:left;
	top:-545px;
	
}
.barra_animacao_transparente	{
	position:relative;
	float:left;
	top:-500px;
	margin-left:-30px;

}

.bolas{
	position:absolute;
	margin-top:330px;
	margin-left:1200px;
/*	top:-220px;
	left:-425px;*/
	/*z-index:1px;*/
	width:300px;
}

/*CABECALHO PAGINAS*/
.topo{
	position:relative;
	float:left;
	height:45px;
	background-color:#131315;
}
.sombra_topo{
	position:relative;
	float:left;
	height:480px;
	width:640px;
	z-index:0;
	top: -180px;	
}

.corte{
	position:relative;
	float:left;	
	z-index:2;
	top:-118px;
}
.barra_endereco_superior{
	position:relative;
	float:left;
	top: -712px;
	left:-10px;
}
.barra_endereco{
	position: relative;
	float:left;
	top: -695px;
	left:165px;
	width:1200px;
}
.home{
	position: relative;
	float:left;
	margin-left: 150px;
	margin-top: -20px;
	
}

.endereco{
	position: relative;
	float:left;
	font-family:"Franklin Gothic Heavy";
	color:#131315;
	margin-left: 180px;
	margin-top: -20px;
	font-variant:small-caps;	
}
