{% extends "base.html" %}

{% block extralinks %}
	{{ block.super }}
{% endblock %}
{% block extracss %}
	{{ block.super }}
{% endblock %}

{% block extrascripts %}
	{{ block.super }}
{% endblock %}


{% block js_ready %}
 
 	{{ block.super }} 
 
 	$('body').addClass('entrar'); 
 	
{% endblock %}

{% block extrajs %}
	{{ block.super }}
{% endblock extrajs %}

{% block conteudo %}
{% block topo %}
	{% include "includes/topo.html" %}
{% endblock topo %}
	
<div id="entrar_box" class="entrar_box">
		{% if form.errors %}
			<p>Usuario ou senha inexistentes</p>
		{% endif %}
		<form method="post" action="{% url entrar %}">{% csrf_token %}
		 	<label for="usuario">Usuario:</label>
    		<input type="text" name="username" value="" id="username">
		    <label for="senha">Senha:</label>
		    <input type="password" name="password" value="" id="password">
		    <input type="submit" value="login" />
		    <input type="hidden" name="next" value="{{ next }}" />			
		</form>
</div>
{% endblock %}


