{% extends "base.html" %}

{% block titulo %}Noticias{% endblock %}

{% block extralinks %}
	{{ block.super }}
{% endblock %}
{% block extracss %}
	{{ block.super }}
{% endblock %}

{% block extrascripts %}
	{{ block.super }}
{% endblock %}


{% block extrajs %}
	{{ block.super }}
{% endblock extrajs %}


{% block conteudo %}
<div id="topo" class="topo">
 	{% block topo %}
           {% include "includes/topo.html" %}
    {% endblock topo %}
</div>
	<div id="noticias_box" class="noticias_box">
     {% for noticia in noticias %}
    	<div id="item_noticia" class="item_noticia">  
            <a class="noticia_link" href="/noticias/{{ noticia.slug }}">
                <img src="/media/{{ noticia.miniatura }}"  class="bn" width="460" height="209" align="left"/>
                <small>{{ noticia.criado_em|date:"d M"|upper }}</small>
                <h4>{{ noticia.titulo }}</h4>
            </a>	
        </div>
        {% endfor %}
     </div>

{% endblock conteudo %}	

