{% extends "base.html" %}

{% block titulo %}Noticia - {{ noticia.titulo }}{% endblock %}

{% block extralinks %}
	{{ block.super }}

{% endblock %}
{% block extracss %}
	{{ block.super }}
{% endblock %}

{% block extrascripts %}
	{{ block.super }}
{% endblock %}


{% block extrajs %}
	{{ block.super }}

{% endblock extrajs %}


{% block conteudo %}
<!--
contato_form = ContatoForm()
contratante_form = ContratantesForm()
compositor_form = CompositoresForm()
artista_form = ArtistaForm()
radialista_form = RadialistaForm()
parceiro_form = ParceiroForm()
-->
<div id="conteudo" class="conteudo">
		<div id="texto_parceiro" class="texto_parceiro">A Sonorah est&aacute; sempre em busca de grandes profissionais e grandes parcerias. Se voc&ecirc; acredita que pode somar for&ccedil;as conosco, entre em contato e nos diga como podemos nos tornar parceiros. Caso seja voc&ecirc; seja um radialista, compositor ou contratante, por favor, utilize as abas espec&iacute;ficas abaixo. </div>
	<div id="tabs">
	    <ul>
	        <li><a href="#parceiro"><span>Parceiro</span></a></li>
	        <li><a href="#compositor"><span>Compositor</span></a></li>
			<li><a href="#radialista"><span>Radialista</span></a></li>
			<li><a href="#contratante"><span>Contratante</span></a></li>
	    </ul>
    <div id="parceiro">
        <form enctype="multipart/form-data" action="." method="post">{% csrf_token %} 
		    {% for field in parceiro_form %}
		        <div class="fieldWrapper">
		            {{ field.errors }}
		            {{ field.label_tag }}: {{ field }}
		        </div>
		    {% endfor %}
			<p><input type="hidden" value="parceiro" name="parceiro"/></p>
		    <p><input type="submit" value="Enviar" /></p>
		</form>
    </div>
    
    <div id="compositor">
       <form enctype="multipart/form-data" action="." method="post">{% csrf_token %} 
		    {% for field in compositor_form %}
		        <div class="fieldWrapper">
		            {{ field.errors }}
		            {{ field.label_tag }}: {{ field }}
		        </div>
		    {% endfor %}
			<p><input type="hidden" value="compositor" name="compositor"/></p>
		    <p><input type="submit" value="Enviar" /></p>
		</form>
    </div>
    <div id="radialista">
       	<form enctype="multipart/form-data" action="." method="post">{% csrf_token %} 
		    {% for field in radialista_form %}
		        <div class="fieldWrapper">
		            {{ field.errors }}
		            {{ field.label_tag }}: {{ field }}
		        </div>
		    {% endfor %}
			<p><input type="hidden" value="radialista" name="radialista"/></p>
		    <p><input type="submit" value="Enviar" /></p>
		</form>
    </div>
    <div id="contratante">
        <form enctype="multipart/form-data" action="." method="post">{% csrf_token %} 
		    {% for field in contratante_form %}
		        <div class="fieldWrapper">
		            {{ field.errors }}
		            {{ field.label_tag }}: {{ field }}
		        </div>
		    {% endfor %}
			<p><input type="hidden" value="contratante" name="contratante"/></p>
		    <p><input type="submit" value="Enviar" /></p>
		</form>
    </div>
    
</div>

</div>	
{% endblock conteudo %}	