{% extends "base.html" %}

{% block titulo %}Portfolio - {{ portfolio.nome }}{% endblock %}

{% block extralinks %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="/media/css/jquery.lightbox-0.5.css" media="screen" />
{% endblock %}
{% block extracss %}
	{{ block.super }}
{% endblock %}

{% block extrascripts %}
	{{ block.super }}
	<script type="text/javascript" src="/media/js/jquery.lightbox-0.5.min.js"></script>
{% endblock %}

{% block js_ready %}
 	{{ block.super }}
 	
 	 $('body').addClass("paginas"); 
 		 
 	
 	$('#galerias a').lightBox();
 	$('#fotos_extras a').lightBox();
 	

{% endblock %}

{% block extrajs %}
	{{ block.super }}

{% endblock extrajs %}


{% block conteudo %}
 	{% block topo %}
           {% include "includes/topo.html" %}
    {% endblock topo %}
		
	<div id="portfolio_box" class="portfolio_box">		
		
		<div id="portfolio_item" class="portfolio_item">
			<div id="galerias" class="galerias"><!--todas as fotos das galerias -->
				{% for foto in fotos %}
					<!---<p>{{ foto.tipo }}</p>-->
					<a href="/media/{{ foto.image }}">
				{% endfor %}
						<img src="/media/images/galeria_imagens.jpg" />
					</a>
			</div>
		</div>
		
		<div id="videos" class="videos">
			{% for video in videos %}
				<!---<p>{{ video.tipo }}</p>-->
				<a href="{{ video.url_video }}">
			{% endfor %}
					<img src="/media/images/portfolio_youtube.jpg" /> 
				</a>
		</div>
		<div id="separador_portfolio" class="separador_portfolio">
			<img src="/media/images/separador_portfolio.png" align="left"/>
		</div>
		<div id="site" class="site">
			{% for site in sites %}
				<!---<p>{{ site.tipo }}</p>-->
				
				<a href="{{ site.url_site }}">
			{% endfor %}
					<img src="/media/images/url_externa.jpg" />
				</a>
		</div>
		
			{% for fe in fotos_extras %}
				<!---<p>{{ fe.tipo }}</p>-->
				<div id="fotos_extras" class="fotos_extras">
				<a href="/media/{{ fe.foto.image }}">	
					<img src="/media/{{ fe.foto.image }}" width="460px"/ height="209">
				</a>
				</div>
				<div id="separador_portfolio" class="separador_portfolio">
			<img src="/media/images/separador_portfolio.png" align="left"/>
		</div>
				{% endfor %}
		
	
</div>
	


{% endblock conteudo %}	