{% extends "base.html" %}

{% block titulo %}portfolio - {{ portfolio.nome }}{{ n{% endblock %}

{% block extralinks %}
	{{ block.super }}
{% endblock %}
{% block extracss %}
	{{ block.super }}
{% endblock %}

{% block extrascripts %}
	{{ block.super }}
{% endblock %}


{% block js_ready %}
       {{ block.super }}
       	var newClass = window.location.href;
		newClass = newClass.substring(22,newClass.length - 1);
				
		/*newClass = newClass.substring(newClass.lastIndexOf('/')+22,30);*/
		alert(newClass)
		$('body').addClass(newClass); 	   
{% endblock %}

{% block extrajs %}
	{{ block.super }}
{% endblock extrajs %}


{% block conteudo %}
 	{% block topo %}
           {% include "includes/topo.html" %}
    {% endblock topo %}
		
	<div id="portfolio_box" class="portfolio_box">
		{% for trabalho in trabalhos %}
		<div id="portfolio_item" class="portfolio_item">
			{{ trabalho.url }}
			{{ trabalho.link_video }}
			{% for photo in galerias %}
				<a class="thumb" name="{{ photo.title }}" title="{{ photo.title }}" href="{{ photo.get_display_url }}"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/></a>
			{% endfor %}
		</div>
		<div id="separador_portfolio" class="separador_portfolio">
			<img src="/media/images/separador_portfolio.png" align="left"/>
		</div>	
	{% endfor %}
	</div>
	

{% endblock conteudo %}	