/*valores padrão*/
body{
	margin:0;
	color:#6d6d6d;
	font:16px "Franklin Gothic Book", "Franklin Gothic Heavy", "Franklin Gothic Medium";
	background:#131315;
	font-weight:300;
	list-style: none;
	}
	
	
img{border-style:none;}

a{
	text-decoration:none;
	color:#ff5a00;
}
a:hover{text-decoration:underline;}

li{
	list-style: none;
	list-style-position: inside;
	display: table;
}
p{
font-family:"Franklin Gothic Book";
	font-size:18px;
	
}
h1{
font-family:"Franklin Gothic Heavy";
font-size:24px;	
}
h3{
	font-size:16px;	
}
/*Conteiners*/

.conteiner{
	position:relative;
	
}

.conteudo{
	position:absolute;
	margin-left:350px;
	margin-top:530px;
	

}
/*Caixa de noticias*/
h2.noticias_home_titulo{
	background-color:#FF5A00;
	width:120px;
	padding-left:20px;
	color:#000;
	font-size:18pt;	
	font-family: "Franklin Gothic Heavy";
}
p.noticia_titulo_home{
		padding-left:170px;
		color:6d6d6d;
	
}
p.noticia_criado_em_home{
	padding-left:170px;
		color:6d6d6d;
}
.noticia_lista_inicial{
		margin-left:150px;
		
				
}
.separador_noticia_topo{
	position:relative;
	margin-top:2px;
	float:left;
	height:2px;
	
}
.noticias_home_box{
	position:  static;
	font-family:"Franklin Gothic Heavy";
	color:#131315;
	margin-top:6px;
	margin-left:-461px;
	width: 500px;
	display: inline-block;
}

.item_home_noticia{
	font-family:"Franklin Gothic Heavy";
	color:#131315;
	position: relative;
	float: left;
	display: inline-block;
	width: 460px;
}
.item_home_noticia:hover{
	background-color: #333;
}
.separador{
	position:relative;
	float:left;
	height:2px;

	margin-top:2px;
}
.barra_noticias{
	position:absolute;
	margin-top:4px;
}
.barra_noticias a{
	font:"Franklin Gothic Heavy";
	font-size:14px;
	color:#666;
	
}
.noticia_home_link{
	
}
/*Caixa de links*/
.link_lista_inicial{
	margin-top:40px;
	margin-left:150px;
}
h2.links_home_titulo{
	background-color:#FF5A00;
	width:120px;
	padding-left:20px;
	color:#000;
	font-size:18pt;	
	font-family: "Franklin Gothic Heavy";
}

.links_home_box{
	position:  static;
	font-family:"Franklin Gothic Heavy";
	color:#131315;
	margin-top:6px;
	margin-left:-461px;
	width: 500px;
	display: inline-block;
}
.item_home_link{
	font-family:"Franklin Gothic Heavy";
	color:#131315;
	position: relative;
	float: left;
	display: inline-block;
	width: 460px;
}
.link_criado_em{
	padding-top:10px;
	padding-left:170px;
}

.link_titulo{
	padding-left:170px;	
}

.item_home_link:hover{
	background-color: #333;
}

/*twitter*/
.separador_twitter_topo{
	position:static;
	margin-left:750px;	
	margin-top:-508px;
	float:left;
	height:2px;

}
.twitter{
	position:  static;
	margin-left:750px;	
	margin-top:-540px;
	font-family:"Franklin Gothic Heavy";
	color:#131315;
	width: 500px;
	display: inline-block;
}
h2.twitter_titulo{
	background-color:#FF5A00;
	width:250px;
	color:#000;
	font-size:18pt;	
	font-family: "Franklin Gothic Heavy";
}
.twitter_box{
	position:  static;
	margin-left:740px;	
	margin-top:-500px;
}
#twtr-widget-1{
/*margin-top:50px;*/
}
.separador_twitter_fim{
	position:static;
	margin-left:750px;	
	margin-top:-210px;
	float:left;
	height:2px;
}

.botoes_twitter{
	margin-left:750px;
	margin-top:10px;
	position:static;
	font:"Franklin Gothic Heavy";
	font-size:14px;
	color:#666;

}

/*Youtube*/
.separador_youtube_topo{
	position:static;
	margin-left:750px;	
	margin-top:-465px;
	float:left;
	height:2px;
}

.youtube{
	margin-left:750px;
	margin-top:20px;
	position:absolute;
}


/*rodape*/
.sep_rodape{

position:relative;
bottom:-300px;
left:-400px;
width: 100%;
	
}
.rodape{
	position:relative;

	width:100%;
	height:120px;
	background-color:#000;
}
.rodape_texto_direito{
	font-family: "Franklin Gothic Medium";
	font-size:14px;
	width:150px;
	text-align:justify;
	position:relative;
	float:left;
	padding-left:561px;
	padding-top:30px;
}
.links_rodape{
	position:relative;
	float:left;
	padding-left:15px;
	padding-right:15px;
	padding-top:30px;
}
.rodape_texto_esquerdo{
	font-family: "Franklin Gothic Medium";
	font-size:14px;
	width:150px;
	text-align:justify;
	position:relative;
	float:left;
	padding-top:30px;
	
}

.logo_direitos{
	position:relative;
	float:left;
	padding-left:15px;
	padding-top:30px;
}

/*NOTICIAS*/
.noticias_box{
	font-family:"Franklin Gothic Heavy";
	color:#131315;
	position: absolute;
	margin-left: 23px;
	margin-top: -330px;	
	width: 1200px;
	display: inline-block;
}
.item_noticia{
	font-family:"Franklin Gothic Heavy";
	color:#131315;
	position: relative;
	float: left;
	width: 300px;
	display: inline-block;
	padding-left: 92px;
	padding-right: 100px;
	padding-top: 30px;
}
.texto_parceiro{
	font-family:"Franklin Gothic Book";
	font-size: 18px;
	text-indent: 40px;
	color:#6d6d6d;
	position: absolute;
	margin-left: 180px;
	margin-top: 50px;	
	width: 1000px;
	text-align: justify;
}
.noticia_link{
	color:#6d6d6d;
}
/*PAGINA DA NOTICIA*/
.noticia{
	position:relative;
	float:left;
	margin-left:115px;	
	margin-top:-300px;
	width:920px;
}
.noticia_criado_em{

	
}

h1.noticia_titulo{

		color:6d6d6d;
		padding-top:230px;
}

.noticia_subtitulo{
	padding-top:10px;
	font-family:"Franklin Gothic Medium";
}
.noticia_texto{
	padding-top:20px;	
	}
.separador_noticia{
	position:absolute;
	bottom:-10px;	
	width:920px;
	
	/*position:relative;
	float:left;
	height:2px;
	margin-left:2
	margin-top:2px;*/
}

/*RODAPE_PAGINAS*/
.sep_rodape_paginas{
	
	margin-top: -40px;
}
.rodape_paginas{
	position:relative;
	width:100%;
	height:120px;
	background-color:#000;
}
/*FACEBOOK*/
.rede_social_noticia{
	position: relative;
	clear: both;
	padding-top: 20px;
	padding-left: 115px;
}
div#sharebtn {
	font-family:arial,helvetica,sans-serif; 
	font-size:12px;
	border:1px solid #999;
	padding:4px 4px 2px 2px;
	width:52px; height:16px;
	text-align:center;
	background-image:url(https://app.tabpress.com/xfbml-tags/_img/sharebtn_bg2.gif);
}

div#sharebtn a {
	color:#111;
	text-decoration:none;
	background-image:none;
	background-color:transparent;
}

	
