{% extends "base.html" %}

{% block titulo %}Noticia - {{ noticia.titulo }}{% endblock %}

{% block extralinks %}
	{{ block.super }}

{% endblock %}
{% block extracss %}
	{{ block.super }}
{% endblock %}

{% block extrascripts %}
	{{ block.super }}
	
{% endblock %}

{% block js_ready %}
	{{ block.super }}
	

{% endblock js_ready %}


{% block extrajs %}
	{{ block.super }}
	
{% endblock extrajs %}


{% block conteudo %}
	{% block topo %}
	{% include "includes/topo.html" %}
	{% endblock topo %}
<div id="contato_box" class="contato_box">
	<form enctype="multipart/form-data" action="{% url contato %}" method="post" id="form_upload">
			{% csrf_token %}
			<div class="fieldWrapper">
				{{ contato_form.nome.errors }} <label for="id_nome" class="id_nome">*Nome: </label>
				{{ contato_form.nome }}
			</div>
			<div class="fieldWrapper">
				{{ contato_form.email.errors }} <label for="id_email" class="id_email">*E-Mail: </label>
				{{ contato_form.email }}
			</div>
			<div class="fieldWrapper">
				{{ contato_form.telefone.errors }} <label for="id_telefone" class="id_telefone">*Telefone: </label>
				{{ contato_form.telefone }}
			</div>
			<div class="fieldWrapper">
				{{ contato_form.arquivo.errors }} <label for="id_arquivo" class="id_arquivo">*Arquivo: </label>
				<!--<div class="fakeupload">
					<input type="text" name="fakeupload" />
				<input type="file" name="arquivo" id="arquivo_id" class="arquivo_id"  onchange="this.form.fakeupload.value = this.value;" /> -->
				{{ contato_form.arquivo }}
				<!--<input type="hidden" id="X-Progress-ID" name="X-Progress-ID" value=""/>
				<input type="hidden" id="id" name="id" value=""/>-->
			</div>
			<div class="fieldWrapper">
				{{ contato_form.mensagem.errors }} <label for="id_mensagem" class="id_mensagem">*Mensagem: </label>
				<div id="mensagem_contato" class="mensagem_contato">
					{{ contato_form.mensagem }}
				</div>
			</div>
			<input type="submit" value="Enviar"  class="enviar_contato"/>
		</form>
	<div id="efeito_enviar_contato" class="efeito_enviar_contato">
		<img src="/media/images/parceiros_efeito_enviar.png"/>
	</div>
	
</div>
<div id="detalhe_direito_contato" class="detalhe_direito_contato">
	<img src="/media/images/detalhe_direito_contato.png"/>
</div>
<div id="contato_direito" class="contato_direito">
	<p>Rua 89, Nº540 Setor Sul.</p>
	<p>Goiânia - GO | CEP: 74093-140</p>
    <p><img src="/media/images/telefone_contato.png"/> (62) 3281-0311</p>
    <p><img src="/media/images/email_contato.png"/> contato@sonorah.com</p>
    
    <div id="mapa_google" class="mapa_google">
    	<img src="http://maps.google.com/maps/api/staticmap?center=-16.694384, -49.257358&zoom=15&size=350x232&maptype=roadmap&sensor=true" />    
    </div>
</div>


{% endblock conteudo %}	