{% load i18n %}

<div id="cabecalho" class="cabecalho">

			<img src="/media/images/cabecalho/atendimento_online.gif" align="absmiddle"/>
		     Atendimento Online  |
	
    
            <img src="/media/images/cabecalho/cadeado.gif" align="absmiddle"/>
           Area do Cliente  | 
    
    
	        Compartilhe:
            <img src="/media/images/cabecalho/facebook.gif" align="absmiddle" />
            <img src="/media/images/cabecalho/twitter.gif" align="absmiddle" />
            <img src="/media/images/cabecalho/addtoany.gif" align="absmiddle"/>
            <img src="/media/images/cabecalho/player.gif" align="absmiddle"/>
             
</div>
