{% load i18n %}

<div id="cabecalho" class="cabecalho">

	
    		<img src="/media/images/cabecalho/atendimento_online.gif" align="top"/>
		        Atendimento Online  |
	
    
            <img src="/media/images/cabecalho/cadeado.gif" align="top"/>
           Area do Cliente  | 
    
    
	        Compartilhe:
            <img src="/media/images/cabecalho/facebook.gif" align="top" />
            <img src="/media/images/cabecalho/twitter.gif" align="top" />
            <img src="/media/images/cabecalho/addtoany.gif" align="top"/>
            <img src="/media/images/cabecalho/player.gif" align="top"/>
             
</div>

   
<div id="cabecalho_inferior" class="cabecalho_inferior">
	
    <div id="logo" class="logo">
    	<a href="/"><img src="/media/images/cabecalho/logo.png" /></a>
    </div>	
        
	<div id="menu" class="menu">
    	<ul>
        	<li class="item_menu" id="item_menu"><a href="/empresa">Empresa</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a class="hide" href="/artistas"><img src="/media/images/cabecalho/seta.gif" />Artistas</a>
                <!--[if IE]>
                <li><a href="/artistas"><img src="/media/images/cabecalho/seta.gif" /> Artistas   </a>
                <![endif]-->
                    <ul>
                        <li><a href="../teste" title="teste">zero dollars</a></li>
                        <li><a href="../teste" title="teste">wrapping text</a></li>
                        <li><a href="/vcnasonorah" title="VCNASONORAH">VCNASONORAH</a></li>
                    </ul>
          		 </li>
           </li>
    
          	<li><a href="/noticias">Noticias</a></li>
            <li><a class="hide" href="/parceiros"><img src="/media/images/cabecalho/seta.gif" />Parceiros</a>                 <!--[if IE]>
                 <li><a href="/parceiros"><img src="/media/images/cabecalho/seta.gif" /> Parceiros   </a>
                 <![endif]-->
                  	<ul>
                    	<li><a href="../teste" title="teste">zero dollars</a></li>
                        <li><a href="../teste" title="teste">wrapping text</a></li>
                        <li><a href="/vcnasonorah" title="VCNASONORAH">VCNASONORAH</a></li>
                    </ul>
    
                  </li>
            </li>
            <li><a href="/contato">Contato</a></li>
                 
		</ul>
	</div> 
</div>

