{% load i18n %}


<div id="corte" class="corte">
    <img src="/media/images/corte.png" border="0" />
</div>

<div id="sombra_topo" class="sombra_topo">
    <img src="/media/images/sombra_topo2.png" border="0" />
</div>
<div id="barra_endereco_superior" class="barra_endereco_superior">
	<img src="/media/images/home/barra_animacao_superior.png"  />
</div>

<div id="barra_endereco" class="barra_endereco">
	<img id="home" class="home" src="/media/images/home.png">
			
	<div id="endereco" class="endereco">
    
		<a href="/">Home</a> | <a href="/{{ pagina }}/"> {{ pagina }}</a>
		{% if nome_interno %}
			| <a href="{{url}}"> {{ nome_interno }} </a>
		{% endif %}
		
		
	</div>
			
	<img src="/media/images/barra_endereco.png">
</div>
