{% extends "base.html" %}

{% block titulo %}Artistas{% endblock %}

{% block extralinks %}
	{{ block.super }}
{% endblock %}
{% block extracss %}
	{{ block.super }}
{% endblock %}

{% block extrascripts %}
	{{ block.super }}
{% endblock %}


{% block extrajs %}
	{{ block.super }}
{% endblock extrajs %}


{% block conteudo %}
<div id="topo" class="topo">
 	{% block topo %}
           {% include "includes/topo.html" %}
    {% endblock topo %}
</div>
<div id="artista_lista" class="artista_lista">
	{% for artista in artistas %} 
	<a href="{{ artista.site }}" target="_blank"> 
		<img src="/media/{{ artista.imagem }}"  class="bn" width="943" height="208" align="bottom"/>
		<p>{{ artista.nome }}</p>
		<p>{{ artista.site }}</p>
	</a>
	<div id="rede_social_artista" class="rede_social_artista">
			<a href="{{ artista.facebook }}" target="_blank">
				<img src="/media/images/face_artista.png" align="middle">
			</a>
			<a href="{{ artista.twitter }}" target="_blank">
				<img src="/media/images/twitter_artista.png" align="middle">
			</a>
			<a href="{{ artista.myspace }}" target="_blank">
				<img src="/media/images/my_artista.png" align="middle">
			</a>
			<a href="{{ artista.youtube }}" target="_blank">
				<img src="/media/images/you_artista.png" align="middle">
			</a>
	</div>
	<div id="separador_portfolio" class="separador_portfolio">
		<img src="/media/images/separador_portfolio.png" align="left"/>
	</div>
	{% endfor %}
</div>

{% endblock conteudo %}	