{% extends "base.html" %}

{% block titulo %}Inicial - {% endblock %}

{% block extralinks %}
	{{ block.super }}
{% endblock %}
{% block extracss %}
	{{ block.super }}
{% endblock %}

{% block extrascripts %}
	{{ block.super }}
{% endblock %}


{% block extrajs %}
	{{ block.super }}
{% endblock extrajs %}


{% block conteudo %}
          {% block animacao %}
              {% include "animacao.html" %}
          {% endblock animacao %}
      
<div id="conteudo" class="conteudo">
	
	<div id="noticia_lista_inicial" class="noticia_lista_inicial">
		<h2 id="noticias" class="noticias">Noticias</h2>
				<ul>
                <img src="/media/images/home/separador.png" />
                {% for noticia in noticias %}
                   
					<li>
                    	<a class="noticia_link_home" href="/noticias/{{ noticia.slug }}">
							<img src="/media/{{ noticia.miniatura }}"  class="bn"  width="146" height="67" align="left"/>
                            <div id="conteudo_noticia" class="conteudo_noticia">
								<small>{{ noticia.criado_em }}</small>		
    	                        <h3>{{ noticia.titulo }}</h3>
                            </div>
						</a>	
                     </li>
                                   <img src="/media/images/home/separador.png" />
                {% endfor %}
				</ul>
        <div id="barra_noticias" class="barra_noticias">
    
	        <a href="/noticias/"> <img src="/media/images/home/mais_noticias.gif" align="middle" /> Mais Noticias </a>
            <a href="/rss"><img src="/media/images/home/rss.gif"  align="middle"/> Assine o RSS</a>
            <a href="/email"><img src="/media/images/home/email.gif"  align="middle"/> Receba Noticias por E-mail</a>
        </div>
	</div>
	<div id="link_lista_inicial" class="link_lista_inicial">
		<h2 id="links" class="links">Links</h2>
		
				<ul>
                    <img src="/media/images/home/separador.png" />
                    {% for link in links %}
                    <li>
                    <a href="{{ link.url }}">
                        <img src="/media/{{ link.miniatura }}"  class="bn" align="left"/>
                         <div id="conteudo_link" class="conteudo_link">
	                        <small>{{ link.criado_em }}</small>			
    	                    <h3>{{ link.titulo }}</h3>
                         </div>
                    </a>	
                    </li>
                    <img src="/media/images/home/separador.png" />
				{% endfor %}
                </ul>
	</div>
     
    
 	
    <img  id="barra_twitter_topo" src="/media/images/home/separador.png" />   
    
    
     
	<div id="twitter" class="twitter">
		<h2>Sonorah no Twitter</h2>
     
       	<script>
		
		  new TWTR.Widget({
			  version: 2,
			  type: 'profile',
			  rpp: 5,
			  interval: 6000,
			  width: 400,
			  height: 200,
			  theme: {
				shell: {
				  background: '#333333',
				  color: '#ffffff'
				},
				tweets: {
				  background: '#000000',
				  color: '#ffffff',
				  links: '#ff8c00'
				}
			  },
			  features: {
				scrollbar: true,
				loop: true,
				live: true,
				hashtags: false,
				timestamp: false,
				avatars: true,
				behavior: 'default'
			  }
			}).render().setUser('veiodruida').start();

		</script>
        
	</div>
    <div id="btn_bar_twitter" class="btn_bar_twitter">
        <img src="/media/images/home/twitter.gif"  align="middle"/> Siga-nos no Twitter
        <img src="/media/images/home/facebook.gif"  align="middle"/> Curta no facebook
    </div>
	<img  id="barra_twitter_fim" src="/media/images/home/separador.png" />  
    <div id="youtube" class="youtube">
    	<img src="/media/images/home/youtube.gif" />
    </div>

    
</div>

<!--fecha a div fundo que esta no cabecalho.html-->

 
{% endblock conteudo %}	