{% extends "base.html" %}

{% block extralinks %}
	{{ block.super }}
{% endblock %}
{% block extracss %}
	{{ block.super }}
{% endblock %}

{% block extrascripts %}
	{{ block.super }}
{% endblock %}


{% block extrajs %}
	{{ block.super }}
{% endblock extrajs %}

{% block conteudo %}
<div id="conteudo" class="conteudo">
		{% if form.errors %}
			<p>Usuario ou senha inexistentes</p>
		{% endif %}
		<form method="post" action=".">{% csrf_token %}
		 	<label for="usuario">Usuario:</label>
    		<input type="text" name="username" value="" id="username">
		    <label for="senha">Senha:</label>
		    <input type="password" name="password" value="" id="password">
		    <input type="submit" value="login" />
		    <input type="hidden" name="next" value="{{ next }}" />			
		</form>
</div>
{% endblock %}


