{% load i18n %}

<div id="animacao" class="animacao">
 		<div id="image">
 	   		<img src="/media/images/home/1.jpg" border="0" />
       </div>
		<div id="barra_animacao_superior" class="barra_animacao_superior">
		       	<img src="/media/images/home/barra_animacao_superior.png"  />
    	</div>
        <div id="barra_animacao_transparente" class="barra_animacao_transparente">
		       	<img src="/media/images/home/barra_animacao_transparente.png"  />
    	</div>
      
    <div id="bolas" class="bolas">
 		<a href="#" rel="/media/images/home/1.jpg" class="image" onmouseover="mouseOver1()" onmouseout="mouseOut1()">
          <img src="/media/images/home/bola_laranja.png" class="thumb1" id="thumb1" name="thumb" border="0"/>
      </a>
      <a href="#" rel="/media/images/home/2.jpg" class="image" onmouseover="mouseOver2()" onmouseout="mouseOut2()">
          <img src="/media/images/home/bola_preta.png" class="thumb2" id="thumb2" name="thumb" border="0"/>
      </a>
      <a href="#" rel="/media/images/home/3.jpg" class="image" onmouseover="mouseOver3()" onmouseout="mouseOut3()">
          <img src="/media/images/home/bola_preta.png" class="thumb3" id="thumb3" name="thumb" border="0"/>
      </a>
	</div>
</div>
