{% load i18n %}

<div id="cabecalho_inferior" class="cabecalho_inferior">
	
    <div id="logo" class="logo">
    	<a href="/beta/"><img src="/media/images/cabecalho/logo.png" /></a>
    </div>	
        
	<div id="menu" class="menu">
    	<ul>
        	<li class="empresa_menu"><a href="/beta/empresa" id="empresa_menu">Empresa</a></li>
            <li class="portfolio_menu"><a href="/beta/portfolio" id="portfolio_menu">Portfolio</a></li>
            <li class="artistas_menu"><a class="hide" id="artistas_menu" href="/beta/artistas"><img src="/media/images/cabecalho/seta.gif" />Artistas</a>
                <!--[if IE]>
                <li><a href="/artistas" id="artistas_menu"><img src="/media/images/cabecalho/seta.gif" /> Artistas   </a>
                <![endif]-->
                    <ul>
                    		<div id="separador_menu" class="separador_menu">
								<img src="/media/images/cabecalho/itens_menu.png"  />
							</div>
                        <li><a href="../teste" title="teste"><p class="texto_item_submenu">zero dollars</p></a></li>
                        	<div id="separador_menu" class="separador_menu">
								<img src="/media/images/cabecalho/itens_menu.png"  />
							</div>
                        <li><a href="../teste" title="teste"><p class="texto_item_submenu">wrapping text</p></a></li>
                        <div id="separador_menu" class="separador_menu">
								<img src="/media/images/cabecalho/itens_menu.png"  />
							</div>
							    <li><a href="../teste" title="teste"><p class="texto_item_submenu">wrapping text</p></a></li>
                        <div id="separador_menu" class="separador_menu">
								<img src="/media/images/cabecalho/itens_menu.png"  />
							</div>
                         <li><a href="/beta/vcnasonorah" title="VCNASONORAH"> <p class="vcnasonorah"><img src="/media/images/cabecalho/estrela.png" align="bottom"/> Você na Sonorah</p></a></li>
                        <div id="separador_menu" class="separador_menu">
								<img src="/media/images/cabecalho/itens_menu.png"  />
							</div>
                    </ul>
          		 </li>
           </li>
    
          	<li class="noticias_menu"><a href="/beta/noticias" id="noticias_menu">Noticias</a></li>
            <li class="parceiros_menu"><a class="hide" href="/beta/parceiros" id="parceiros_menu"><img src="/media/images/cabecalho/seta.gif" />Parceiros</a>                 <!--[if IE]>
                 <li><a href="/parceiros" id="parceiros_menu"><img src="/media/images/cabecalho/seta.gif" /> Parceiros   </a>
                 <![endif]-->
                  	<ul>
                    	<div id="separador_menu" class="separador_menu">
								<img src="/media/images/cabecalho/itens_menu.png"  />
							</div>
                        <li><a href="/beta/parceiros/#parceiro" title="parceiro"><p class="texto_item_submenu">Parceiro</p></a></li>
                        	<div id="separador_menu" class="separador_menu">
								<img src="/media/images/cabecalho/itens_menu.png"  />
							</div>
                        <li><a href="/beta/parceiros/#compositor" title="compositor"><p class="texto_item_submenu">Compositor</p></a></li>
                        <div id="separador_menu" class="separador_menu">
								<img src="/media/images/cabecalho/itens_menu.png"  />
							</div>
							    <li><a href="/beta/parceiros/#radialista" title="radialista"><p class="texto_item_submenu">Radialista</p></a></li>
                        <div id="separador_menu" class="separador_menu">
								<img src="/media/images/cabecalho/itens_menu.png"  />
							</div>
                         <li><a href="/beta/parceiros/#contratante" title="contratante"> <p class="texto_item_submenu">Contratante</p></a></li>
                        <div id="separador_menu" class="separador_menu">
								<img src="/media/images/cabecalho/itens_menu.png"  />
							</div>
                    </ul>
    
                  </li>
            </li>
            <li class="contato_menu"><a href="/beta/contato" id="contato_menu">Contato</a></li>
                 
		</ul>
	</div> 
</div>

