  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <!-- Coded By: veiodruida@gmail.com -->
  <head>
      <link rel="shortcut icon" href="/media/images/favicon.ico" >
  
      <title>{% block titulo %}{% endblock titulo %}Sonorah</title>
      <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
      <meta content="{{ meta_keywords }}" name="Keywords"/>
      <meta content="{{ meta_description }}" name="Description"/>
      <meta content="pt-br" http-equiv="Content-Language"/>
      <meta name="verify-v1" content="l4Z4jgwG5X58psxFkH3eILv9ua3nJKYrq5zGFZC0xj0=" />
      {% block metadata %}<!--revisar as metadatas -->
      {% endblock metadata %}
  	  <link href="/media/css/ui-lightness/jquery-ui-1.8.14.custom.css" rel="stylesheet" type="text/css"/>
      <link href="/media/css/thickbox.css" rel="stylesheet" type="text/css"/>
      <link rel="stylesheet" href="print.css" type="text/css" media="print" /> 
<!--  <link type="text/css" rel="stylesheet" href="/media/css/estilo.css" />-->
      <link type="text/css" rel="stylesheet" href="/media/css/estilo-novo.css" />
      <link type="text/css" rel="stylesheet" href="/media/css/dropdown.css" />
      <link type="text/css" rel="stylesheet" href="/media/css/cabecalho.css" />
      <link type="text/css" rel="stylesheet" href="/media/css/jquery.lightbox-0.5.css" />
      <!--[if IE]>
      <link type="text/css" rel="stylesheet" href="/media/css/cabecalho_ie.css" />
      <link type="text/css" rel="stylesheet" href="/media/css/dropdown_ie.css" />
      <link type="text/css" rel="stylesheet" href="/media/css/estilo_novo_ie.css" />
      <![endif]-->
      {% block extralinks %}
      {% endblock extralinks %}
      <style type="text/css">
          {% block extracss %}
          {% endblock extracss %}
      </style>
     <script type="text/javascript" src="/media/js/jquery-1.5.1.min.js" charset="utf-8"></script>
      <script type="text/javascript" src="/media/js/jquery-ui-1.8.14.custom.min.js" charset="utf-8"></script>
      <script type="text/javascript" src="/media/js/jquery.form.js" charset="utf-8"></script>
      <script type="text/javascript" src="/media/js/jquery.progressbar.js" charset="utf-8"></script>
      <script type="text/javascript" src="/media/js/jquery.timers-1.2.js.txt" charset="utf-8"></script>
      <script type="text/javascript" src="/media/js/cuponClipper.js" charset="utf-8"></script>
      <script type="text/javascript" src="/media/js/thickbox.js" charset="utf-8"></script>
      <script type="text/javascript" src="/media/js/jquery.blockUI.js" charset="utf-8"></script>
      <script type="text/javascript" src="/media/js/municipio.js" charset="utf-8"></script>
      <script src="/media/js/widget-twetter.js" charset="utf-8"  type="text/javascript"></script>
	  {% block extrascripts %}
      {% endblock extrascripts %}
      
     <script language="javascript">
   		var newwindow = '';

		function popitup(url){
			if (!newwindow.closed && newwindow.location){
				newwindow.location.href = url;
			}else{
				newwindow=window.open(url,'name','height=600,width=460');
				if (!newwindow.opener) newwindow.opener = self;
			}
			if (window.focus) {newwindow.focus()}
				return false;
			}	
		function to_old_win(url){
				opener.location.href = url;
			}
				
	      {% block extrajs %}
	      
	      {% endblock extrajs %}
	      
	       $(document).ready(function(){
	        	{% block js_ready %}	        
		        {% endblock js_ready %}
		    
         	 /*SELECIONA aba do parceiro pelo menu teste*/
				$('a#contratante').click(function (){
					$tabs.tabs('select', 2);
					alert('teste')
					/*$('#tabs').tabs('select', 1);*/
					return false;
				}); 

	        });

	</script>
</head>
  
<body class="bg0">
	  	  {% block cabecalho_superior %}
				{% include "includes/cabecalho_superior.html" %}
	      {% endblock cabecalho_superior %}
	      <div id="conteiner" class="conteiner">    	
	      	  <div id="topo_geral" class="topo_geral">
	      	  	  {% block cabecalho_inferior %}
		  				{% include "includes/cabecalho_inferior.html" %}
		  		  {% endblock cabecalho_inferior %}
		   	 </div>
		     {% block conteudo %}{% endblock %}       
	      </div>
      {% block rodape %}
			{% include "includes/rodape.html" %}
	  {% endblock rodape %} 
 
  
  </body>
  </html>
  
