{% extends "base.html" %}

{% block titulo %}Noticia - {{ noticia.titulo }}{% endblock %}

{% block extralinks %}
	{{ block.super }}
{% endblock %}
{% block extracss %}
	{{ block.super }}
{% endblock %}

{% block extrascripts %}
	{{ block.super }}
{% endblock %}

{% block js_ready %}
       {{ block.super }} 	   
{% endblock %}
 
			             
{% block extrajs %}
	{{ block.super }}
{% endblock extrajs %}


{% block conteudo %}
 	{% block topo %}
           {% include "includes/topo.html" %}
    {% endblock topo %}
    
<div id="empresa_box" class="empresa_box">
		<p>Ap&oacute;s um nohall de muitos anos de mercado e com a experi&ecirc;ncia de atuar ao lado de profissionais renomados do meio art&iacute;stico - Carlos Correa, Genialdo Costa e Weldes C&aacute;ssio fundaram a Sonorah Music, uma empresa que visa respaldar os artistas nas suas mais variadas necessidades, que v&atilde;o desde aprimoramento t&eacute;cnico &agrave; produ&ccedil;&atilde;o visual, gr&aacute;fica, estrat&eacute;gias digitais e principalmente facilitar o acesso dos artistas aos contratantes e grandes eventos musicais do cen&aacute;rio nacional.<br />
        </p>
		<p>A Sonorah conta com uma equipe t&eacute;cnica de alto padr&atilde;o, com fot&oacute;grafos, designers, profissionais da m&uacute;sica e do meio art&iacute;stico, tudo para trilhar de forma completa as necessidades do meio musical, com toda qualidade t&eacute;cnica que o mercado art&iacute;stico exige.
			
      	</p>
		<p>Entre os servi&ccedil;os oferencidas pela Sonorah Music, est&atilde;o:
			
		</p>
        
		<div class="servicos">
			<div id="separador_empresa" class="separador_empresa">
			        <img src="/media/images/separador_empresa.png" />        
	        </div>

            <h2 class="assesoria_img"><img src="/media/images/mais.png" align="top"/> Assessoria de imagem e estilo</h2>
            <div class="assesoria_img">
                <p> Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum 		Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
            </div>
              <div id="separador_empresa" class="separador_empresa">
		        <img src="/media/images/separador_empresa.png" />        
        </div>
    <h2 class="assesoria_imp"><img src="/media/images/mais.png" align="top"/> Assessoria de imprenssa</h2>
		<div class="assesoria_imp">
                <p> Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum 		Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        </div>
        <div id="separador_empresa" class="separador_empresa">
			<img src="/media/images/separador_empresa.png" />        
        </div>
        <h2 class="producao_m"><img src="/media/images/mais.png" align="top"/> Produção musical</h2>
      	<div class="producao_m">
            <p> Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum 		Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
    	</div>
      	<div id="separador_empresa" class="separador_empresa">
			<img src="/media/images/separador_empresa.png" />        
        </div>
    <h2 class="producao_a"><img src="/media/images/mais.png" align="top"/> Produção audiovisual</h2>
<div class="producao_a">
                <p> Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum 		Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
            </div>
              <div id="separador_empresa" class="separador_empresa">
		        <img src="/media/images/separador_empresa.png" />        
        </div>
    <h2 class="estrategia"><img src="/media/images/mais.png" align="top"/> Estratégias digitais</h2>
<div class="estrategia">
                <p> Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum 		Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
            </div>
              <div id="separador_empresa" class="separador_empresa">
		        <img src="/media/images/separador_empresa.png" />        
        </div>
    <h2 class="fono"><img src="/media/images/mais.png" align="top"/> Fonoaudiologoo</h2>
<div class="fono">
                <p> Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum 		Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
            </div>
              <div id="separador_empresa" class="separador_empresa">
		        <img src="/media/images/separador_empresa.png" />        
        </div>
    <h2 class="tecnicas"><img src="/media/images/mais.png" align="top"/> Ténicas para voz</h2>
<div class="tecnicas">
                <p> Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum 		Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
            </div>
              <div id="separador_empresa" class="separador_empresa">
		        <img src="/media/images/separador_empresa.png" />        
        </div>
    <h2 class="presenca"><img src="/media/images/mais.png" align="top"/> Presença de Palco</h2>
<div class="presenca">
                <p> Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum 		Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
            </div>
             <div id="separador_empresa" class="separador_empresa">
		        <img src="/media/images/separador_empresa.png" />        
        </div>
        </div>
         
 </div>  
{% endblock conteudo %}	