<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sonora.com - Under Working</title>
<style type="text/css">
body {
	background-color: #666;
}
body,td,th {
	color: #FFF;
	font-family: "Franklin Gothic Book", "Franklin Gothic Heavy", "Franklin Gothic Medium";
}
.sobre_construcao{
	text-align:center;
	margin-left:20%;
	margin-right:20%;	
}
</style>
</head>

<body>
<div id="sobre_construcao" class="sobre_construcao">
    <h1> Sonorah.com esta em construção</h1>
    <p>A versão de testes é em Html 5 </p>
    <p>Para acessar o site em faze Beta clique abaixo, usando os navegadores Firefox, Opera, ou Google Chrome atualizados</p>
    <a href="/beta/"><img src="/media/images/site-under-construction.gif" width="313" height="300" alt="Em Construção" longdesc="http://sonorah.com/beta/" /></a>
</div>

</body>
</html>
