{% extends "base.html" %}

{% block titulo %}Artista - {{ artista.nome }}{{ n{% endblock %}

{% block extralinks %}
	{{ block.super }}
{% endblock %}
{% block extracss %}
	{{ block.super }}
{% endblock %}

{% block extrascripts %}
	{{ block.super }}
{% endblock %}


{% block extrajs %}
	{{ block.super }}
	  $('body').addClass("paginas"); 
{% endblock extrajs %}


{% block conteudo %}

<div id="conteudo" class="conteudo">
	<p id="vcnosonrah_texto" class="vcnosonrah_texto"> Bem vindo ao VcNoSonorah</p>
	<div id="vcnosonrah" class="vcnosonrah">
       	<form enctype="multipart/form-data" action="." method="post" id="vcnosonrah_form" class="vcnosonrah_form">{% csrf_token %} 
		    {% for field in artista_form %}
		        <div class="fieldWrapper">
		            {{ field.errors }}
		            {{ field.label_tag }}: {{ field }}
		        </div>
		    {% endfor %}
			<p><input type="hidden" value="artista" name="artista"/></p>
		    <p><input type="submit" value="Enviar" /></p>
		</form>
 	</div>
</div>	
{% endblock conteudo %}	