{% extends "base.html" %}

{% block titulo %}Noticias{% endblock %}

{% block extralinks %}
	{{ block.super }}
{% endblock %}
{% block extracss %}
	{{ block.super }}
{% endblock %}

{% block extrascripts %}
	{{ block.super }}
{% endblock %}


{% block extrajs %}
	{{ block.super }}
{% endblock extrajs %}


{% block conteudo %}
 	{% block topo %}
           {% include "topo.html" %}
    {% endblock topo %}
          
<div id="conteudo" class="conteudo">

	<div id="barra_endereco" class="barra_endereco">
		<img id="home" class="home" src="/media/images/home.png">
		<div id="endereco" class="endereco">
			Home | Noticias
		</div>
		<img src="/media/images/barra_endereco.png">
	</div>

		
	<div id="noticia_lista" class="noticia_lista">
		<h1>Noticias recentes do Sonorah</h1>
        {% for noticia in noticias %}
		<table width="200" border="0">
		  <tr>
		    <td>&nbsp;</td>
		    <td>&nbsp;</td>
	      </tr>
		  <tr>
		    <td>&nbsp;</td>
		    <td>&nbsp;</td>
	      </tr>
		  <tr>
		    <td>&nbsp;</td>
		    <td>&nbsp;</td>
	      </tr>
		  <tr>
		    <td>&nbsp;</td>
		    <td>&nbsp;</td>
	      </tr>
	  </table>
				
				<a href="/noticias/{{ noticia.slug }}">
					<img src="/media/{{ noticia.miniatura }}"  class="bn" width="60" height="60" align="left"/>
			<h3>{{ noticia.titulo }}</h3>
					<small>{{ noticia.criado_em }}</small>
	
				</a>	
				</ul>
				
			{% endfor %}
	</div>
</div>	
{% endblock conteudo %}	